#main {
    overflow: hidden;
}

/* header */
#header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

/* header sort bar */
.header__sort-bar {
    position: fixed;
    left: 0;
    right: 0;
    height: var(--header-sort-height);
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: var(--white-color);
    display: none;
}

.header__sort-item {
    list-style: none;
    display: block;
    flex-grow: 1;
    text-align: center;
    position: relative;
}

.header__sort-item::before {
    position: absolute;
    content: "";
    display: block;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    top: 50%;
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-item::before {
    display: none;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-link {
    text-decoration: none;
    color: #333;
    line-height: var(--header-sort-height);
    font-size: 1.4rem;
}

.header__sort-icon {
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    display: flex;
}

.navbar__item {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.navbar__item + .navbar__item {
    margin-left: 20px;
}

.navbar__item-text,
.navbar__item-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
}

.navbar__item-link:hover {
    color: var(--text-color);
    cursor: pointer;
}

.navbar__icon {
    margin: 0 4px;
}

/* dowload */
.download {
    position: absolute;
    top: 150%;
    width: 160px;
    background-color: var(--white-color);
    will-change: opacity, transform;
    animation: showElement ease 0.25s;
    transform-origin: top;
    box-shadow: 0 0 6px #666;
    display: none;
}

.download::before {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 160px;
    top: -10px;
}

.showElement:hover .download{
    display: block;
}

.qr-code {
    width: 100%;
}

.download__app {
    display: flex;
}

.download__app-item {
    height: 16px;
    margin-bottom: 8px;
}

img[alt="Google Play"] {
    margin-left: 8px;
}

img[alt="App Store"] {
    margin-right: 8px;
}

/* Notify */
.notify {
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    top: 150%;
    right: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    transform-origin: calc(100% - 24px) top;
    will-change: opacity, transform;
    animation: showElement ease 0.25s;
    display: none;
    z-index: 10;
}

.showElement:hover .notify {
    display: block;
}

.notify::before {
    position: absolute;
    content: "";
    display: block;
    right: 4px;
    top: -30px;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.notify::after {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 90px;
    right: 0;
    top: -9px;
}

.notify__header  h3 {
    margin-left: 8px;
}

.notify__list {
    list-style: none;
    padding-left: 0;
}

.notify__item {
    background-color: rgba(245, 62, 45, 0.15);
    padding: 8px 0 8px 8px;
}

.notify__item:hover {
    background-color: #f0f0f0;
}

.notify__item--seen {
    background-color: var(--white-color);
}

.notify__item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.notify__img {
    height: 40px;
    object-fit: contain;
}

.notify__info {
    margin-left: 12px;
}

.notify__title {
    display: block;
    color: var(--black-color);
    font-weight: 650;
    font-size: 1.2rem;
    margin-top: 4px;
}

.notify__desc {
    display: block;
    color: var(--black-color);
    line-height: 1.4;
    font-size: 1.2rem;
    margin: 4px 0;
}

.notify__see-all {
    height: 26px;
    text-align: center;
}

.notify__see-all-link {
    text-decoration: none;
    color: var(--black-color);
    line-height: 26px;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0 28px;
}

.navbar__user-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.navbar__user-name {
    margin-left: 6px;
}

.user__info {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: var(--white-color);
    z-index: 1;
    min-width: 140px;
    box-shadow: 0 2px 4px #666;
    border-radius: 4px;
    display: none;
    animation: showElement ease 0.25s;
    transform-origin: calc(100% - 70px) top;
}

.navbar__user:hover .user__info {
    display: block;
}

.user__info::before {
    position: absolute;
    content: "";
    display: block;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -20px;
    right: 60px;
}

.user__info::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 16px;
    /* background-color: black; */
    top: -14px;
    cursor: pointer;
}

.user__info-list {
    padding-left: 0;
}

.user__info-item {
    list-style: none;
}

.user__info-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.user__info-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.user__info-item:last-child a {
    color: #3CB49A;
}

.user__info-item:hover {
    background-color: #f0f0f0;
}

.user__info-item-link {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    padding: 8px 12px;
}

    /* mobile menu bar */
    .mobile__menu-bar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        width: 70%;
        max-width: 400px;
        background-color: var(--white-color);
        padding: 100px 32px 48px 0;
        display: none;
        animation: menuSlideIn linear 0.3s;
    }

    @keyframes menuSlideIn {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    /* .mobile__menu-bar::before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
    } */

    .mobile__user-info {
        display: flex;
        align-items: center;
        position: relative;
        /* padding-left: 32px; */
        margin-left: 32px;
    }

    .mobile__user-info::after {
        content: "";
        position: absolute;
        display: block;
        /* left: 20%;
        right: 20%; */
        width: 100%;
        
        border-bottom: 1px solid var(--primary-color);
        top: calc(100% + 8px);
    }

    .user__icon {
        font-size: 2rem;
        color: var(--primary-color);
        margin-right: 8px;
    }

    .mobile-menu__user-img {
        height: 30px;
        margin-right: 8px;
    }

    .user__name {
        font-size: 1.8rem;
        font-weight: 600;
        color: #333;
        flex-grow: 1;
    }

    .mobile-menu__list {
        padding-left: 0;
        margin-top: 16px;
    }

    .mobile-menu__item {
        list-style: none;
        padding-left: 32px;
    }

    .mobile-menu__item--active {
        background-color: var(--primary-color);
        border-bottom-right-radius: 52px;
    }

    .mobile-menu__item--active .mobile-menu__icon,
    .mobile-menu__item--active .mobile-menu__link {
        color: var(--white-color);
    }

    .mobile-menu__link {
        display: block;
        text-decoration: none;
        color: #333;
        padding: 16px 0;
        font-size: 1.8rem;
    }

    .mobile-menu__icon {
        margin-right: 8px;
    }

    .mobile-tablet__overlay {
        position: fixed;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        animation: menuSlideIn linear 0.3s;
    }

    .mobile-menu__close {
        display: block;
        float: right;
        padding: 16px;
    }

    .mobile-menu__close-icon {
        font-size: 3rem;
        color: var(--white-color);
    }


/* modal auth */
.auth-form {
    width: 500px;
    border-radius: 4px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.auth-form__body {
    padding: 20px;
}

.auth-form__heading {
    font-size: 1.7rem;
}

.auth-form__switch-btn {
    color: var(--primary-color);
    font-size: 1.7rem;
    text-decoration: none;
}

.auth-form__form {
    margin-top: 24px;
}

.auth-form__group {

}

.auth-form__input {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__input + .auth-form__input {
    margin-top: 8px;
}

.auth-form__text {
    margin-top: 8px;
    font-size: 1.3rem;
    line-height: 1.4;
}

.auth-form__policy {
    text-align: center;
}

.auth-form__link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 64px;
    display: flex;
    justify-content: flex-end;
}

.btn-back {
    color: var(--black-color);
    margin-right: 16px;
}

.btn-back:hover {
    background-color: #dddddd;
}

.social-connect {
    background-color: #E3E2E3;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    display: flex;
    align-items: center;
}

.btn-social {
    min-width: 190px;
}

.btn-social i {
    margin-right: 4px;
}

.btn-facebook {
    background-color: #1877F2;
}

.btn-google {
    background-color: #D9534F;
}

.auth-form__help {
    display: flex;
    justify-content: space-between;
}

/* header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.mobile__menu-search {
    display: flex;
}

.mobile__menu {
    display: none;
    padding: 0 12px;
}

.mobile__menu-icon {
    color: var(--white-color);
    font-size: 2.6rem;
}

.mobile__search {
    display: none;
    padding: 0 12px;
}

.mobile__search-icon {
    color: var(--white-color);
    font-size: 2.6rem;
}


.header-logo {
    width: 200px;
}

.header-logo__img {
    width: 150px;
}

.header-searchbar {
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.header-searchbar-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header-searchbar__input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 1.6rem;
}

.header-searchbar__input:focus ~ .searchbar__history {
    display: block;
}

.header-searchbar__selection {
    border-left: 1px solid #dddddd;
    padding: 0 8px;
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
}

.header-searchbar__selection-label {
    line-height: 40px;
}

.header-searchbar__selection-icon {
    color: #999;
    margin: 0 4px;
}

.header-searchbar__option {
    position: absolute;
    background-color: var(--white-color);
    padding-left: 0;
    width: 110px;
    right: 0;
    top: calc(100% - 10px);
    border-radius: 4px;
    display: none;
    animation: showElement ease 0.25s;
    transform-origin: top;
    box-shadow: 0 0 4px #888;
}

.header-searchbar__option::before {
    position: absolute;
    content: "";
    display: block;
    width: 110px;
    height: 20px;
    top: -20px;
}

.header-searchbar__selection:hover .header-searchbar__option {
    display: block;
}

.header-searchbar__option-item {
    list-style: none;
    padding: 8px;
}

.header-searchbar__option-item:hover {
    background-color: #eee;
    
}

.header-searchbar__option-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header-searchbar__option-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header-searchbar__option-item span {

}

.header-searchbar__option-item i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-left: 4px;
    display: none;
}

.header-searchbar__option-item--active i {
    display: inline-block;
}


.header-searchbar__btn {
    border: none;
    background-color: var(--primary-color);
    height: 34px;
    width: 50px;
    margin: 3px;
    display: flex;
    cursor: pointer;
}

.header-searchbar__btn:hover {
    opacity: 0.8;
}

.header-searchbar__btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
    margin: auto;
}

/* search history */
.searchbar__history {
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 4px);
    width: 95%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px #888;
    display: none;
}

.searchbar__history-heading {
    font-size: 1.4rem;
    font-weight: 400;
    color: #ccc;
    margin: 8px 16px;
}

.searchbar__history-list {
    padding-left: 0;
    margin: 0;
}

.searchbar__history-item {
    list-style: none;
    padding: 0 16px;
    font-size: 1.4rem;
    height: 36px;
}

.searchbar__history-item:hover {
    background-color: #eee;
}

.searchbar__history-item a {
    text-decoration: none;
    color: #bbb;
    display: block;
    line-height: 36px;
}

/* shopping cart */
.header-cart {
    width: 136px;
    text-align: center;
    padding-right: 12px;
}

.header-cart-wrap {
    position: relative;
    cursor: pointer;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
}

.header-cart-wrap:hover .cart__detail {
    display: block;
}

.header-cart__products-quantity {
    position: absolute;
    background-color: var(--white-color);
    font-size: 1.4rem;
    padding: 2px 6px;
    line-height: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 50%;
    border: 2px solid #ee402d;
    top: 4px;
    right: 2px;
}

.header-cart__icon {
    color: var(--white-color);
    font-size: 2.6rem;
    cursor: pointer;
    padding: 14px;
}

.cart__detail {
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% - 3px);
    right: 0px;
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 4px 4px #888;
    display: none;
    animation: showElement ease 0.25s;
    transform-origin: calc(100% - 26px) top;
    cursor: default;
    text-align: start;
}

.cart__detail::before {
    position: absolute;
    content: "";
    display: block;
    border: 20px solid ;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    right: 6px;
    cursor: pointer;
}

.cart__detail .cart__detail-heading,
.cart__detail .products__list,
.cart__detail .cart__detail-footer {
    display: block;
}

.cart__detail--empty .cart__detail--empty-img,
.cart__detail--empty .cart__detail--empty-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart__detail--empty .cart__detail-heading,
.cart__detail--empty .products__list,
.cart__detail--empty .cart__detail-footer {
    display: none;
}

.cart__detail--empty-img {
    width: 60%;
    padding: 16px 0;
    display: none;
}

.cart__detail--empty-msg {
    display: none;
    font-size: 1.4rem;
    color: #666;
    margin-bottom: 8px;
    text-align: center;
}

.cart__detail-heading {
    margin: 8px 0 8px 8px;
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 400;
    display: none;
}

.products__list {
    padding-left: 0;
    display: none;
    max-height: 50vh;
    overflow-y: auto;
}

.products__item {
    display: flex;
    margin-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.products__item:hover {
    background-color: #f0f0f0;
}

.product__img {
    height: 60px;
    object-fit: contain;
    border: 1px solid #e8e8e8;

}

.product__info {
    margin: 0 8px;
    flex: 1;
}

.product__heading {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
}

.product__name {
    font-weight: 650;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product__price {
    color: var(--primary-color);
}

.product__multiply,
.product__desc,
.product__quantity {
    color: #ccc;
}

.product__body {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 1.6;
}

.product__remove {
    cursor: pointer;
}

.cart__detail-footer {
    display: none;
}

.see-cart {
    display: flex;
    justify-content: flex-end;
}

.cart__detail-footer a {
    margin: 8px 8px 8px 0;
}

/* container */
#container {
    background-color: #f5f5f5;
    margin-top: var(--header-height);
}

.container__content {
    padding-top: 30px;
}

.category {
    border-radius: 4px;
    background-color: var(--white-color);
    /* position: fixed; */
    /* min-width: 180px; */
    min-width: 100%;
    box-shadow: 0 0 4px #666;
}

.category__heading {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0 16px;
}

.category__heading-icon {
    margin-right: 8px;
}

.category-list {
    padding-left: 0;
}

.category-item {
    list-style: none;
    position: relative;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
}

.category-item--active::before {
    position: absolute;
    content: "";
    display: block;
    border-width: 3px 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 4px;
    top: 12px;
    margin-right: 2px;
}

.category-item__link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
    transition: right linear 0.1s;
    position: relative;
    right: 0;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* sort bar */
.sort-bar {
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-radius: 4px;
    margin-bottom: 8px;
    /* position: fixed; */
}

.sort-bar__label {
    font-size: 1.4rem;
    margin-right: 20px;
}

.sort-by-options {
    flex-grow: 1;
    display: flex;
}

.sort-btn {
    background-color: var(--white-color);
    min-width: 100px;
}

.sort-btn + .sort-btn {
    margin-left: 8px;
}

.sort-with-status {
    margin-left: 8px;
    min-width: 200px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    padding: 1px 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
}

.sort-with-status:hover .sort-by-options-list {
    display: block;
}

.sort-with-status:hover .sort-icon {
    color: var(--primary-color);
}

.sort__label {
    line-height: 2.2;
}

.sort-icon {
    /* float: right; */
}

.sort-by-options-list {
    display: none;
    position: absolute;
    padding-left: 0;
    top: calc(100% - -3px);
    left: 0;
    background-color: var(--white-color);
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    box-shadow: 0 0 4px #666;
    animation: showElement ease 0.25s;
    transform-origin: top;
    z-index: 1;
}

.sort-by-options-list::before {
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    /* background-color: red; */
    top: -3px;
}

.sort-option {
    list-style: none;
    font-size: 1.4rem;
    padding: 8px 8px;

}

.sort-option:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.page-controller {
    display: flex;
    font-size: 1.4rem;
}

.page-controller__state {
    padding: 0 16px;
    color: #ccc;
}

.page-controller__current {
    color: var(--primary-color);
}

.page-controller__total {
    color: var(--black-color);
}

.page-controller__direction {

}

.page-controller-btn {
    background-color: var(--white-color);
    text-decoration: none;
    padding: 8px 8px;
    color: #333;
}

.page-controller-btn:hover {
    color: var(--primary-color);
}

.page-controller-btn--disable {
    background-color: #f9f9f9;
    color: #ccc;
    cursor: default;
}

.page-controller-btn--disable:hover {
    color: #ccc;
}

.page-controller-btn--previous {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #eee;
}

.page-controller-btn--next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* mobile category */
.mobile-category {
    margin-top: calc(var(--header-height) + var(--header-sort-height) + 8px);
    display: none;
}

.mobile-category__list {
    display: flex;
    padding-left: 0;
    list-style: none;
    width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 8px;
}

.mobile-category__item:first-child {
    margin-left: 8px;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    text-align: center;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 110px;
    max-width: 110px;
    height: 40px;
    max-height: calc(2 * var(--line-height));
    border-radius: 4px;
    padding: 0 8px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #7EA6D4;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #6BC2B6;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #7DC876;
}


/* home product item */
.home-product {
    margin-bottom: 10px;
}

.home-product__item {
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0 #666;
    position: relative;
    transition: transform ease 0.1s;
    will-change: transform;
}

.home-product__item:hover {
    box-shadow: 0 0 2px 0 #999;
    transform: translateY(-1px);
}

.home-product__link {
    text-decoration: none;
}

.home-product__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 100%;
    border-bottom: 1px solid #ccc;
}

.product-detail {
    padding: 10px;
    
}

.product-detail__name {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #333;
    /* giới hạn hiển thị text */
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-detail__price {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.2rem;
}

.product-detail__price-old {
    text-decoration: line-through;
    color: #333;
}

.product-detail__price-sale {
    color: var(--primary-color);
    font-size: 1.6rem;
}

.product-detail__action {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.action__like {
    text-decoration: none;
    margin-right: auto;
}

.action__like.action__like--liked .action__like-icon {
    display: none;
}

.action__like.action__like--liked .action__liked-icon {
    display: block;
    color: var(--primary-color);
}

.action__like .action__liked-icon {
    display: none;
}

.action__rate {
    color: #ccc;
    transform: scale(0.7);
    transform-origin: right;
}

.action__rated {
    color: var(--primary-color);
}

.quantity-sold {
    margin-left: 6px;
    color: #333;
}

.brand-info {
    margin-top: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
}

.brand-info__name {

}

.brand-info__location {
    color: #595959;
    font-weight: 200;
}

.favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}

.favourite::after {
    position: absolute;
    content: "";
    display: block;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(70%);
}

.favourite  i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 4px;
}

.favourite span {
    color: var(--white-color);
}

.sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    min-height: 36px;
    background-color: rgba(255, 210, 56, 0.93);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.sale-off::after {
    position: absolute;
    content: "";
    display: block;
    /* clip-path: polygon(50% 0, 100% 18%, 100% 0, 0 0, 0 18%); */
    clip-path: polygon(0 0, 100% 0, 100% 20%, 50% 0, 0 20%);
    background-color: rgba(255, 210, 56, 0.93);
    width: 100%;
    height: 100%;
    top: 100%;
}

.sale-off__percent {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.sale-off__label {
    color: var(--white-color);
    font-size: 1.2rem;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}

/* footer */
#footer {
    border-top: 6px solid var(--primary-color);
}

.footer-section {
    margin-top: 64px;
}

.footer-heading {
    font-size: 1.4rem;
    color: #999;
    margin: 0;
}

.footer-list {
    padding-left: 0;
    margin-top: 20px;
}

.footer-list-item {
    list-style: none;
}

.footer-list-item__link {
    display: block;
    text-decoration: none;
    color: #999;
    padding: 8px 0;
    font-size: 1.2rem;
}

.footer-list-item__link:hover {
    color: var(--primary-color);
}

.payment-delivery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    width: 190px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.payment-delivery-item {
    list-style: none;
    height: 29px;
    width: 55px;
    margin-bottom: 10px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.footer-backgound {
    background-image: url('../image/footer-icons.png');
}

.payment-visa-img {
    background-size: 1390.909090909091% 1194.4444444444443%;
    background-position: 73.52112676056338% 5.0761421319796955%;
}

.payment-mastercard-img {
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 44.50704225352113% 5.376344086021505%;
}

.payment-jcb-img {
    background-size: 1390.909090909091% 934.7826086956521%;
    background-position: 37.183098591549296% 30.729166666666668%;
}

.payment-amex-img {
    background-size: 1530% 977.2727272727273%;
    background-position: 11.188811188811188% 5.181347150259067%;
}

.payment-cod-img {
    background-size: 1530% 741.3793103448276%;
    background-position: 79.3006993006993% 25.806451612903224%;
}

.payment-installment-img {
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 79.85915492957747% 52.1505376344086%;
}

.payment-shopeepay-img {
    background-size: 765% 1131.578947368421%;
    background-position: 63.00751879699248% 24.489795918367346%;
}

.delivery-shopee_express-img {
    background-size: 689.1891891891892% 1194.4444444444443%;
    background-position: 59.78593272171254% 5.0761421319796955%;
}

.delivery-ghtk-img {
    background-size: 1390.909090909091% 1194.4444444444443%;
    background-position: 19.295774647887324% 51.776649746192895%;
}

.delivery-ghn-img {
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 8.732394366197184% 54.83870967741935%;
}

.delivery-viettel_post-img {
    background-size: 597.65625% 167.96875%;
    background-position: 65.77708006279435% 100%;
}

.delivery-vnpost-img {
    background-size: 1390.909090909091% 796.2962962962963%;
    background-position: 100% 5.319148936170213%;
}

.delivery-jnt-img {
    background-size: 1390.909090909091% 1343.75%;
    background-position: 84.08450704225352% 5.025125628140704%;
}

.delivery-grab_express-img {
    background-size: 570.8955223880597% 741.3793103448276%;
    background-position: 25.673534072900157% 5.376344086021505%;
}

.delivery-now-img {
    background-size: 956.25% 268.75%;
    background-position: 46.13138686131387% 77.77777777777777%;
}

.delivery-ninja_van-img {
    background-size: 1275% 826.9230769230769%;
    background-position: 48.08510638297872% 31.21693121693122%;
}

.delivery-best-img {
    background-size: 1062.5% 716.6666666666666%;
    background-position: 10.1010101010101% 28.10810810810811%;
}

.contact-link {
    display: flex;
    align-items: center;
}

.footer-social-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 8px;
}

.footer-facebook-icon {
    background-size: 2390.625% 671.875%;
    background-position: 1.364256480218281% 44.80874316939891%;
}

.footer-instagram-icon {
    background-size: 2390.625% 671.875%;
    background-position: 28.922237380627557% 32.240437158469945%;
}

.footer-linkedin-icon {
    background-size: 2390.625% 671.875%;
    background-position: 36.01637107776262% 55.73770491803279%;
}

.footer-download {
    text-align: center;
    margin-top: 20px;
}

.footer-qr-code {
    width: 70%;
    border: 1px solid #ccc;
}

.footer-download__app {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download-link {
    display: block;
    text-align: center;
}

.download-link img[alt="Google Play"],
.download-link img[alt="App Store"] {
    width: 70%;
    /* border: 1px solid #ccc; */
    margin: 4px 0 0;
}

