#main {

}

/* header */
#header {
    height: 100px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.navbar__item {
    display: inline-flex;
    margin: 0 8px;
    position: relative;
}

.navbar__item-text,
.navbar__item-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
}

.navbar__item-link:hover {
    color: var(--text-color);
}

.navbar__icon {
    margin: 0 4px;
}

/* dowload */
.download {
    position: absolute;
    top: 150%;
    width: 160px;
    background-color: var(--white-color);
    animation: showElement ease 0.25s;
    transform-origin: top;
    display: none;
}

.download::before {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 160px;
    top: -10px;
}

@keyframes showElement {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.show-qrcode:hover .download{
    display: block;
}

.qr-code {
    width: 100%;
}

.download__app {
    display: flex;
}

.download__app-item {
    height: 16px;
    margin-bottom: 8px;
}

img[alt="Google Play"] {
    margin-left: 8px;
}

img[alt="App Store"] {
    margin-right: 8px;
}



/* container */
#container {
    height: 1200px;
    background-color: #333;
}

/* footer */
#footer {

}
