#main {

}

/* header */
#header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.navbar__item {
    display: inline-flex;
    position: relative;
}

.navbar__item + .navbar__item {
    margin-left: 16px;
}

.navbar__item-text,
.navbar__item-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
}

.navbar__item-link:hover {
    color: var(--text-color);
    cursor: pointer;
}

.navbar__icon {
    margin: 0 4px;
}

/* dowload */
.download {
    position: absolute;
    top: 150%;
    width: 160px;
    background-color: var(--white-color);
    will-change: opacity, transform;
    animation: showElement ease 0.25s;
    transform-origin: top;
    display: none;
}

.download::before {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 160px;
    top: -10px;
}

.showElement:hover .download{
    display: block;
}

.qr-code {
    width: 100%;
}

.download__app {
    display: flex;
}

.download__app-item {
    height: 16px;
    margin-bottom: 8px;
}

img[alt="Google Play"] {
    margin-left: 8px;
}

img[alt="App Store"] {
    margin-right: 8px;
}

/* Notify */
.notify {
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    top: 150%;
    right: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    transform-origin: calc(100% - 24px) top;
    will-change: opacity, transform;
    animation: showElement ease 0.25s;
    display: none;
}

.showElement:hover .notify {
    display: block;
}

.notify::before {
    position: absolute;
    content: "";
    display: block;
    right: 4px;
    top: -30px;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.notify::after {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 90px;
    right: 0;
    top: -9px;
}

.notify__header  h3 {
    margin-left: 8px;
}

.notify__list {
    list-style: none;
    padding-left: 0;
}

.notify__item {
    background-color: rgba(245, 62, 45, 0.15);
    padding: 8px 0 8px 8px;
}

.notify__item:hover {
    background-color: #f0f0f0;
}

.notify__item--seen {
    background-color: var(--white-color);
}

.notify__item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.notify__img {
    height: 40px;
    object-fit: contain;
}

.notify__info {
    margin-left: 12px;
}

.notify__title {
    display: block;
    color: var(--black-color);
    font-weight: 650;
    font-size: 1.2rem;
    margin-top: 4px;
}

.notify__desc {
    display: block;
    color: var(--black-color);
    line-height: 1.4;
    font-size: 1.2rem;
    margin: 4px 0;
}

.notify__see-all {
    height: 26px;
    text-align: center;
}

.notify__see-all-link {
    text-decoration: none;
    color: var(--black-color);
    line-height: 26px;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0 28px;
}

/* modal auth */
.auth-form {
    width: 500px;
    border-radius: 4px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.auth-form__body {
    padding: 20px;
}

.auth-form__heading {
    font-size: 1.7rem;
}

.auth-form__switch-btn {
    color: var(--primary-color);
    font-size: 1.7rem;
    text-decoration: none;
}

.auth-form__form {
    margin-top: 24px;
}

.auth-form__group {

}

.auth-form__input {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__input + .auth-form__input {
    margin-top: 8px;
}

.auth-form__text {
    margin-top: 8px;
    font-size: 1.3rem;
    line-height: 1.4;
}

.auth-form__policy {
    text-align: center;
}

.auth-form__link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 64px;
    display: flex;
    justify-content: flex-end;
}

.btn-back {
    color: var(--black-color);
    margin-right: 16px;
}

.btn-back:hover {
    background-color: #dddddd;
}

.social-connect {
    background-color: #E3E2E3;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    display: flex;
    align-items: center;
}

.btn-social {
    min-width: 190px;
}

.btn-social i {
    margin-right: 4px;
}

.btn-facebook {
    background-color: #1877F2;
}

.btn-google {
    background-color: #D9534F;
}

.auth-form__help {
    display: flex;
    justify-content: space-between;
}

/* header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header-logo {
    width: 200px;
}

.header-logo__img {
    width: 150px;
}

.header-searchbar {
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.header-searchbar-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header-searchbar__input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 1.6rem;
}

.header-searchbar__input:focus ~ .searchbar__history {
    display: block;
}

.header-searchbar__selection {
    border-left: 1px solid #dddddd;
    padding: 0 8px;
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
}

.header-searchbar__selection-label {
    line-height: 40px;
}

.header-searchbar__selection-icon {
    color: #999;
    margin: 0 4px;
}

.header-searchbar__option {
    position: absolute;
    background-color: var(--white-color);
    padding-left: 0;
    width: 110px;
    right: 0;
    top: 80%;
    border-radius: 4px;
    display: none;
    animation: showElement ease 0.25s;
    transform-origin: top;
}

.header-searchbar__option::before {
    position: absolute;
    content: "";
    display: block;
    width: 110px;
    height: 20px;
    top: -20px;
}

.header-searchbar__selection:hover .header-searchbar__option {
    display: block;
}

.header-searchbar__option-item {
    list-style: none;
    padding: 8px;
}

.header-searchbar__option-item:hover {
    background-color: #eee;
    
}

.header-searchbar__option-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header-searchbar__option-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header-searchbar__option-item span {

}

.header-searchbar__option-item i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-left: 4px;
    display: none;
}

.header-searchbar__option-item--active i {
    display: inline-block;
}


.header-searchbar__btn {
    border: none;
    background-color: var(--primary-color);
    height: 34px;
    width: 50px;
    margin: 3px;
    display: flex;
    cursor: pointer;
}

.header-searchbar__btn:hover {
    opacity: 0.8;
}

.header-searchbar__btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
    margin: auto;
}

/* search history */
.searchbar__history {
    position: absolute;
    background-color: var(--white-color);
    top: 110%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px #888;
    display: none;
}

.searchbar__history-heading {
    font-size: 1.4rem;
    font-weight: 400;
    color: #ccc;
    margin: 8px 16px;
}

.searchbar__history-list {
    padding-left: 0;
    margin: 0;
}

.searchbar__history-item {
    list-style: none;
    padding: 0 16px;
    font-size: 1.4rem;
    height: 36px;
}

.searchbar__history-item:hover {
    background-color: #eee;
}

.searchbar__history-item a {
    text-decoration: none;
    color: #bbb;
    display: block;
    line-height: 36px;
}


.header-cart {
    width: 136px;
    text-align: center;
}

.header-cart__icon {
    color: var(--white-color);
    font-size: 2.6rem;
    cursor: pointer;
    padding: 14px;
}


/* container */
#container {
    height: 1200px;
    background-color: #ccc;
}

/* footer */
#footer {

}
